---
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="Welcome to TinScareCrow.">
  <script is:inline>
    if (window.location.hash.includes("recovery_token=")) {
      window.location.replace("/admin/" + window.location.hash);
    }
  </script>

  {
    await Promise.all(
      sortedPosts.map(async (post) => {
        const { Content } = await render(post);
        return (
          <>
            <article class="blog-entry">
              <div class="post-date">
                {new Date(post.data.date).toLocaleDateString()}
              </div>
              <h2>{post.data.title}</h2>
              <Content />
            </article>
            <br />
            <br />
          </>
        );
      })
    )
  }
</Layout>

<script>
  const cornerImages = [
    { position: 'top-right', url: '/images/tablet.png' },
    { position: 'bottom-left', url: '/images/raven.png' },
    { position: 'bottom-right', url: '/images/watch2.png' }
  ];

  cornerImages.forEach(({ position, url }) => {
    const div = document.createElement('div');
    div.className = `corner ${position}`;
    div.style.backgroundImage = `url('${url}')`;
    document.body.appendChild(div);
  });
</script>
