---
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="Welcome to TinScarecrow.">
  <section class="title">
      <h1 class="brand">TinScarecrow<span class="tm">™</span></h1>
      <p class="subtitle">The Synthesist</p>
  </section>
  
  <section class="intro">
  <p>
      <em>TinScarecrow</em> is where food experiments, unconventional leathercraft,
      programming, electronics builds, and other thought experiments become reality.
  </p>

  <p>
      <em>The Synthesist</em> is the title of the mind behind the work—testing,
      building, documenting, and refining ideas into tangible results.
  </p>
  </section>

  <script is:inline>
    if (window.location.hash.includes("recovery_token=")) {
      window.location.replace("/admin/" + window.location.hash);
    }
  </script>

  {
    await Promise.all(
      sortedPosts.map(async (post) => {
        const { Content } = await render(post);
        return (
          <>
            <article class="blog-entry">
              <div class="post-date">
                {new Date(post.data.date).toLocaleDateString()}
              </div>
              <h2>{post.data.title}</h2>
              <Content />
            </article>
	    <br>
          </>
        );
      })
    )
  }
</Layout>

<script>
  const cornerImages = [
    { position: 'top-right', url: '/images/tablet.png' },
    { position: 'bottom-left', url: '/images/raven.png' },
    { position: 'bottom-right', url: '/images/watch2.png' }
  ];

  cornerImages.forEach(({ position, url }) => {
    const div = document.createElement('div');
    div.className = `corner ${position}`;
    div.style.backgroundImage = `url('${url}')`;
    document.body.appendChild(div);
  });
</script>
