<div id="burgerRelic" class="menu-icon" title="Menu">
    <img src="/images/300res_Tinscarecrow.png" alt="Menu icon: stack of books" style="width: auto; height: auto;" />
</div>

<style>

.burger {

    position: fixed;
    top: 10px;       /* Changed from bottom to top */
    right: 10px;
    opacity: 0.2;
    z-index: 9999;
    pointer-events: none;

 }

</style>
