---
import '../../src/styles/globals.css';
import '@fontsource-variable/inter/wght.css';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title = "TinScarecrow" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
  </head>


 <header>
   <Header />
 </header>

<!doctype html>
 
 <!-- Fixed Noise + Desk Background -->
    <div class="fixed inset-0 z-0 bg-noise"></div>    
    
    <!-- Scrollable Content Layer -->
    <main  class="relative z-10 min-h-screen overflow-y-auto">
        <section class="max-w-3xl mx-auto p-6">
                        
            <div class="relative z-20 shadow-container overflow-visible bg-[url('/images/page.png')] bg-repeat-y bg-top bg-[length:100%_auto] w-[816px] p-10 text-gray-800 w-[auto] mx-auto my-8">
		<slot />
            </div>
        </section>
    </main>
